#node_modules
node_modules/

#config
server/config/

#database bat file
startDB.bat

#bundled/compiled
# public/
public/*.css
public/*.html
public/*.jpeg
public/*.js
public/*.map
public/*.png
public/*.txt

#test folders
client/tests/
server/tests/

#notes folder
notes/