/* CSS Default for tables
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
*/

.recipes-table {
    // border: thin solid red;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

tr:nth-child(even) {
    background-color: darken($color: white, $amount: 30);
}

th {
    // border: thin solid green;
    font-size: larger;
}

td {
    // border: thin solid blue;
    text-align: center;
}

.link {
    &:hover {
        letter-spacing: 1px;
        text-decoration-line: underline;
    }
}

.table-pic {
    text-align: center;
    vertical-align: middle;
}