.columns-header {
    background-color: darken($color: rgb(240, 240, 240), $amount: 5);
    display: flex;
    font-weight: $font-weight;
    justify-content: center;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    min-height: $footer-desktop;
}

.columns__left {
    align-items: flex-end;
    display: flex;
    flex-basis: 250px; //This makes the left equal to the right with the 250px size icon.
    flex-direction: column;
    flex-grow: 1;
    order: 1;
}

.columns__center {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    order: 2;
}

.columns__title {
    font-weight: 400;
}

.columns__right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    order: 3;
    img {
        height: 250px;
        width: 250px;
    }
}

@media screen and (max-width: $screen-FW) {
    .columns {
        min-height: $footer-mobile;
    }
    .columns__left, .columns__right {
        align-items: center;
    }
    .columns__left {
        order: 2;
        p {
            margin: 0;
        }
    }
    .columns__center {
        order: 3;
    }
    .columns__right {
        order: 1;
        img {
            height: 150px;
            width: 150px;
        }
    }
    .columns--hide {
        display: none;
    }
}