.my-account-page__container {
    display: flex;
    justify-content: center; //x-axis
}

.my-account-page__userinfo {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    order: 1;
}

.my-account-page__center {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    order: 2;
}

.my-account-page__icon {
    flex-grow: 1;
    order: 3;
}