.my-account-page__container {
    display: flex;
    justify-content: center; //x-axis
    width: 100%;
}

.my-account-page__userinfo {
    order: 1;
}

.my-account-page__center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    width: 40%;
}

.my-account-page__icon {
    order: 3;
}