/*
    - A class selector naming convention is to put two underscores and then the name for elements. Example: .header__title {}.
    -- This is known as the BEM naming convention, which stands for Block Element Modifier.
    -- A Block is the core building block. Something big like the actual header.
    -- Elements are things that go inside of blocks to make them useful. 
    -- For modifiers, we use the name with .button--link. Instead of underscores, we use two hyphens.
*/

.second-row-nav-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: space-around;
    width: 100%;
}

.my-account-menu {
    // flex: auto;
    text-align-last: center;
    width: 30%;
}

.button--menu {
    // box-sizing: border-box;
    // flex-grow: 1;
    // flex-shrink: 1;
    height: 45px;
    // justify-content: center;
    vertical-align: center;
    width: 55%;
    // p {
    //     align-items: center;
    //     text-align: bottom;
    //     margin: 0;
    // }
    // text-align: justify;
    // text-align-last: end;
}

.my-account-button {
    background: #3c280d;
    border: solid #3c280d 1px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 20px;
    // font-weight: 10;
    height: 45px;
    margin: 10px;
    // opacity: 0;
    padding: 0; //top right bottom left
    width: auto;
    &:hover {
        background: rgb(240, 240, 240);
        color: #3c280d;
        border: solid #3c280d 1px;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        opacity: 0.5;
    }
}

.my-account-button__link {
    color: white;
    padding: 8px 48px 11px 48px;
    &:hover {
        color: #3c280d;
    }
}

.dropdown-icon {
    // justify-content: center;
    text-align-last: end;
}

// .popout-menu:focus-visible {
.popout-menu {
    @include flexCenter(space-around);
    border: solid black 2px;
    flex-direction: column;
    top: 125px;
    position: relative;
    right: 3.5vw;
    width: auto;
    li {
        padding: 20px;
        &:hover {
            color: darkred;
        }
    }
    background: white;
}