.my-recipes-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-recipes {
    margin: 1%;
}

.my-recipes-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}