.my-recipes {
    border-bottom: solid $color-theme-brown 1px;
    border-radius: 5%;
    border-top: solid $color-theme-brown 1px;
    margin: 1%;
    padding-bottom: 2%;
}

.my-recipes-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}