// Nav

.nav-container {
    @include flexCenter(space-around);
    overflow: hidden;
    flex-direction: column;
    margin: 10px; //added this for space between search bar and account button
    height: 125px;
    width: 1400px;
    nav {
        width: 100%;
        @include flexCenter(space-around);
        img {
            height: 75px;
        }
    }
}

.nav-links {
    @include flexCenter(space-around);
    width: 100%;
    li {
        @include flexCenter(space-around);
        font-size: 18px;
        height: 40px;
        width: 135px;
        transition: 0.2s;
        &:hover {
            letter-spacing: 0.5px;
        }
    }
}

#sign-up {
    border: solid black 1px;
    border-radius: 7px;
    height: 45px; //previous 40px
    width: 150px; //previous 135px
    &:hover {
        color: white;
        background: #3c280d;
    }
}

@media screen and (min-width: 1420px) {
    .burger-container {
        display: none;
    }
}

@media screen and (max-width: 1420px) {
  .nav-container {
        width: 100vw;
        nav {
            @include flexCenter(space-between);
            width: 90vw;
            .nav-links {
                display: none;
            }
        }
        .searchbar {
            width: 90%;
        }
    }
}

// Popout Nav

.popout-nav {
    @include flexCenter(space-around);
    flex-direction: column;
    position: absolute;
    top: 125px;
    right: 3.5vw;
    width: auto;
    border: solid black 2px;
    li {
        padding: 20px;
        &:hover {
            color: darkred;
        }
    }
    background: white;
}

@media screen and (min-width: 1420px) {
    .popout-nav {
        display: none;
    }
}