/*
    - A class selector naming convention is to put two underscores and then the name for elements. Example: .header__title {}.
    -- This is known as the BEM naming convention, which stands for Block Element Modifier.
    -- A Block is the core building block. Something big like the actual header.
    -- Elements are things that go inside of blocks to make them useful. 
    -- For modifiers, we use the name with .button--link. Instead of underscores, we use two hyphens.
*/

// Nav

.nav-container {
    @include flexCenter(space-around);
    overflow: hidden;
    flex-direction: column;
    margin: 10px; //added this for space between search bar and account button
    height: 125px;
    width: 1400px;
    nav {
        width: 100%;
        @include flexCenter(space-around);
        img {
            height: 75px;
        }
    }
}

//First row nav
.nav-links {
    @include flexCenter(space-around);
    width: 100%;
    li {
        @include flexCenter(space-around);
        font-size: 18px;
        height: 40px;
        width: 135px;
        transition: 0.2s;
        &:hover {
            letter-spacing: 0.5px;
        }
    }
}

#sign-up {
    border: solid black 1px;
    border-radius: 7px;
    height: 45px; //previous 40px
    width: 150px; //previous 135px
    &:hover {
        color: white;
        background: #3c280d;
    }
}

@media screen and (min-width: 1420px) {
    .burger-container {
        display: none;
    }
}

@media screen and (max-width: 1420px) {
  .nav-container {
        width: 100vw;
        nav {
            @include flexCenter(space-between);
            width: 90vw;
            .nav-links {
                display: none;
            }
        }
        .searchbar {
            width: 90%;
        }
    }
}

// Popout Nav
.popout-nav {
    @include flexCenter(space-around);
    flex-direction: column;
    position: absolute;
    top: 55px; //was 125
    right: 4vw; //was 3.5
    width: auto;
    border: solid black 2px;
    li {
        padding: 20px;
        &:hover {
            color: darkred;
        }
    }
    background: white;
    z-index: 99; //added so menu is on top
}

@media screen and (min-width: 1420px) {
    .popout-nav {
        display: none;
    }
}


//Second row nav
.second-row-nav-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: space-around;
    width: 100%;
}

//My Account button
.my-account__button {
    background: #3c280d;
    border: solid #3c280d 1px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 20px;
    height: 45px;
    margin: 10px;
    padding: 0; //top right bottom left
    width: auto;
    &:hover {
        background: rgb(240, 240, 240);
        color: #3c280d;
        border: solid #3c280d 1px;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        opacity: 0.5;
    }
}

.my-account__button--link {
    color: white;
    padding: 8px 30px 11px 30px; //top right bottom left
    &:hover {
        color: #3c280d;
    }
}

.my-account__button--icon {
    text-align-last: end;
}

.my-recipes__button--link {
    color: white;
    padding: 9px 30px 12px 30px; //top right bottom left
    &:hover {
        color: #3c280d;
    }
}

