.grid-container {
    // border: thin solid red;
    display: grid;
    // grid-auto-columns: minmax(150px, auto);
    grid-auto-rows: minmax(150px, 100%);
    grid-gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.grid-item {
    align-items: center;
    border: solid $color-theme-brown 1px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 0px; //top right bottom left
    img {
        width: 100%;
    }
}



//Resolution adjustment
@media screen and (min-width: $screen-QHDp) {
    .grid-container {
        grid-template-columns: repeat(6, $column-width);
    }
}

@media screen and (max-width: $screen-QHDp) {
    .grid-container {
        grid-template-columns: repeat(5, $column-width);
    }
}

@media screen and (max-width: $screen-QHD) {
    .grid-container {
        grid-template-columns: repeat(4, $column-width);
    }
}

@media screen and (max-width: $screen-FHD) {
    .grid-container {
        grid-template-columns: repeat(3, $column-width);
    }
}

@media screen and (max-width: $screen-HDp) {
    .grid-container {
        grid-template-columns: repeat(2, $column-width);
    }
}

@media screen and (max-width: $screen-FW) {
    .grid-container {
        grid-template-columns: repeat(1, $column-width);
    }
}