.recipe-roulette {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.recipe-roulette__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    h1 {
        margin: 5px;
        padding: 5px;
    }
    h2 {
        margin: 5px;
        padding: 5px;
    }
}

.recipe-roulette__cards {
    display: grid;
    grid-auto-rows: minmax(250px, 400px);
    grid-gap: 10px;
    justify-content: center;
}

//cards are 262x452 max on previous version
.recipe-roulette__cards--card {
    align-items: center;
    border: thin solid green;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: hidden;
    width: 250px;
    img {
        border: thin solid black;
        max-height: 100%;
        max-width: 100%;
    }
    p {
        @include flexCenter(center);
        font-weight: 300;
    }
}

.recipe-roulette__cards--title {
    font-weight: $font-weight;
    margin: 10px;
}

//Resolution adjustment
@media screen and (min-width: $screen-HDp) {
    .recipe-roulette__cards {
        grid-template-columns: repeat(5, 280px);
    }
}

@media screen and (max-width: $screen-HDp) {
    .recipe-roulette__cards {
        grid-template-columns: repeat(3, 280px);
    }
}

@media screen and (max-width: $screen-qHD) {
    .recipe-roulette__cards {
        grid-template-columns: repeat(2, 280px);
    }
}

@media screen and (max-width: $screen-FW) {
    .recipe-roulette {
        margin-top: 5%;
    }
    .recipe-roulette__cards {
        grid-template-columns: repeat(1, 280px);
    }
}