.recipe-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-form__labels {
    font-size: 18px;
    font-weight: $font-weight;
    padding: 10px;
}

.recipe-form__added-ingredients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipe-form__added-ingredients--list {
    margin: 20px;
}

.recipe-form__add-ingredients {
    display: flex;
}

.recipe-form__response {
    font-size: x-large;
}

.recipe-form__buttons {
    display: flex;
    justify-content: center;
}