// Recipe Roulette Styles

.recipe-roulette {
    // border: thin solid gold;
    height: auto;
    div {
        background: rgb(240, 240, 240);
        width: 1400px;
    }
}
  
.recipe-roulette-cards-container {
    @include flexCenter(space-around);
    // border: thin solid greenyellow;
    flex-wrap: wrap;
    > * {
        flex: 18%;
        margin: 10px;
    }
}
  
.recipe-roulette-card {
    // border: thin solid red;
    background: white;
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
    border: solid 1px grey;
    img {
        box-sizing: border-box;
        height: 50%;
        width: 100%;
        border: solid 1px black;
    }
    p:first-of-type {
        font-size: 20px;
        font-weight: 500;
        margin: 10px;
    }
    p {
        @include flexCenter(center);
        font-weight: $font-weight;
    }
}
  
@media screen and (max-width: 1420px) {
    .recipe-roulette {
        div {
            width: 100%;
            margin-top: 30px;
            justify-content: center;
            div {
                width: 100%;
                justify-content: space-between;
                li {
                    width: 40vw;
                }
            }
        }
    }
}
  
@media screen and (max-width: 1420px) {
    .recipe-roulette-card {
        width: 20vw;
    }
}
  
@media screen and (max-width: 1000px) {
    .recipe-roulette-card {
        width: 42vw;
    }
}
  
@media screen and (max-width: 800px) {
    // .recipe-roulette-cards-container {
    //     flex-direction: column;
    // }
    .recipe-roulette-card {
        width: 94vw;
    }
}
  