<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../styles/styles.css">
    </head>

    <body>
        <div class="login-container">
            <form>
                <input id="username" placeholder="username">
                <input id="email" placeholder="example@example.com">
                <input id="password" placeholder="password">
                <input id="name" placeholder="name">
                <button>Submit</button>
            </form>
            <p></p>
        </div>

        <script src="../js/app.js"></script>
    </body>
</html>