.border-black {
    border: thin solid black;
}

.border-blue {
    border: thin solid blue;
}

.border-green {
    border: thin solid green;
}

.border-orange {
    border: thin solid orange;
}

.border-pink {
    border: thin solid pink;
}

.border-purple {
    border: thin solid purple;
}

.border-red {
    border: thin solid red;
}

.border-teal {
    border: thin solid teal;
}

.border-yellow {
    border: thin solid yellow;
}