@import "./mixins.scss";

// FilterByIngredient Component Styles
.filter-ingredient-container {
  height: auto;
  // width: 60%;
  border-radius: 18px;
  border: 1px solid black;
  margin-top: 30px;
  background: white;
  > div:first-of-type {
    @include flexCenter(center);
    font-size: 30px;
    font-weight: 350;
    padding: 15px;
    border-radius: 15px;
  }
  > div:last-of-type {
    @include flexCenter(space-between);
    width: 100.01%;
    height: 270px;
    > * {
      height: 100%;
      width: 19%;
      border-radius: 18px;
      border: 1px solid black;
      overflow: hidden;
      text-decoration: none;
      color: black;
    }
  }
}

.filter-button {
  transition: 0.2s;
  &:hover {
    letter-spacing: 2px;
  }
  img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  li {
    @include flexCenter(center);
    position: relative;
    bottom: 4px;
    height: 68px;
    font-size: 25px;
    font-weight: 350;
    border-top: 2px solid black;
    background-image: url("https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }
}
